html {
    font-size: 100%;
}
    
body {
    background-color: antiquewhite;
    font-family: 'Rubik', sans-serif;
}

header {
    background-color: orange;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

main {
    margin: 20px;
    line-height: 1.5;
    font-size: 1rem;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 15px;
}

p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

.pokemon-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pokemon-button {
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    background-color: orangered;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 200px;
    transition: 0.4s background-color;
}

.pokemon-button:hover {
    background-color: orange;
    cursor: pointer;
    animation: button-shake 0.4s;
}

@keyframes button-shake {
    0% {transform: translateX(0)}
    25% {transform: translateX(5px)}
    50% {transform: translateX(-5px)}
    75% {transform: translateX(5px)}
    100% {transform: translateX(0)}
}